* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Roboto, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --secondary-color: #f5f5f5;
  --header-color: #9f3037;
  --btn-color: #ea0709;

}

.nav, .footer {
  text-align: center;
  width: 100%;
  padding: 2rem 0;
  font-size: 3rem;
  font-weight: 700;
  background-color: var(--header-color);
  color: white;
}

.logo {
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.book-catalogue {
  padding: 3rem;
}

.section-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.section-title {
  color: var(--text-color);
  font-weight: 700;
  font-size: 2.5rem;
}

.add-btn {
  border: none;
  padding: 8px 32px;
  font-size: 1.5rem;
  background-color: var(--btn-color);
  color: #ffffff;
  font-weight: 600;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 0.3s ease;  
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.book-card {
  height: 600px;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  border: 3px solid transparent;
  transition: 0.4s ease-in-out;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.36);
}

.book-img {
  height: 60%;
}

.book-img img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.book-title {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.book-author, .book-pages, .book-readStatus {
  font-size: 1.2rem;
}

.remove-btn, .mark-btn {
  border: none;
  padding: 6px 24px;
  font-size: 1.3rem;
  margin-right: 10px;
  margin-top: 15px;
  background-color: var(--btn-color);
  color: #ffffff;
  font-weight: 500;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 0.3s ease;
}

.remove-btn:hover, .mark-btn:hover, .add-btn:hover {
  background-color: #c50609;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.36);
}


.footer {
  font-size: 1.5rem;
}

